[project]
	description = A Jenkins plugin for interfacing with GitLab
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/milena (mreichel)
[access "refs/for/refs/*"]
	read = group user/milena (mreichel)
	push = group user/milena (mreichel)
	label-Code-Review = -2..+2 group user/milena (mreichel)
	label-Verified = -1..+1 group user/milena (mreichel)
	rebase = group user/milena (mreichel)
	removeReviewer = group user/milena (mreichel)
	submit = group user/milena (mreichel)
[access "refs/heads/*"]
	read = group user/milena (mreichel)
	create = group user/milena (mreichel)
	push = +force group user/milena (mreichel)
	pushMerge = group user/milena (mreichel)
[access "refs/tags/*"]
	push = group user/milena (mreichel)
	push = +force group user/milena (mreichel)
